<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Projet embarqué" src="...">
          </a>
        </div>
      </div>
</nav>

<div class="container-fluid">
    <div class="col-lg-6">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="#/public/accueil">Température / Humidité</a></li>
            <li role="presentation"><a href="#/public/gyroaccel">Gyroscope / Accéléromètre</a></li>
        </ul>        <form style="padding-top:20px;">
            <div>
                <label>Température / Humidité</label><br>
                Température :

                <div range-slider orientation="horizontal" min="0" max="50" model-min="temp.min" model-max="temp.max" ng-model="temp.valeur" on-handle-up="changeTemperature()"></div>

                <table ng-hide="tabTempVide" class="table table-hover" id="myTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Expéditeur</th>
                            <th>Destinataire</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="dataTravel in dataTempTravels" ng-click="getDetailsTravel(dataTravel.id)" class="clickable-row">
                        <td>{{ dataTravel.id }}</td>
                        <td>{{ dataTravel.from }}</td>
                        <td>{{ dataTravel.to }}</td>
                    </tr>
                </table>

                Humidité :


                <div range-slider orientation="horizontal" min="0" max="100" model-min="humidite.min" model-max="humidite.max" ng-model="humidite.valeur"  on-handle-up="changeHumidity()"></div>

                <table ng-hide="tabHumidVide" class="table table-hover" id="myTable2">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Expéditeur</th>
                            <th>Destinataire</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="dataTravel in dataHumidityTravels" ng-click="getDetailsTravel(dataTravel.id)" class="clickable-row">
                        <td>{{ dataTravel.id }}</td>
                        <td>{{ dataTravel.from }}</td>
                        <td>{{ dataTravel.to }}</td>
                    </tr>
                </table>

            </div>
        </form>

        <div style="width:700px !important;height:600px !important;">
            <canvas id="chart" ></canvas>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="col-lg-12" ng-show="showTravelInfos">
            <h1>Informations sur le trajet</h1>

            <div class="col-lg-6">
                <p><span class="glyphicon glyphicon-home"></span> Départ : le {{travelInfos.startTime}}</p>
            </div>
            <div class="col-lg-6">
                <p><span class="glyphicon glyphicon-map-marker"></span> Arrivée : le {{travelInfos.endTime}}</p>
            </div>

            <div class="col-lg-6">
                <p><span class="glyphicon glyphicon-cloud"></span> Température moyenne : {{ travelInfos.meanTemp }} °C </p>
                <p><span class="glyphicon glyphicon-cloud"></span> Température minimum : {{ travelInfos.minTemp }} °C </p>
                <p><span class="glyphicon glyphicon-cloud"></span> Température maximum : {{ travelInfos.maxTemp }} °C </p>
            </div>
            <div class="col-lg-6">
                <p><span class="glyphicon glyphicon-tint"></span> Taux d'humidité moyen : {{ travelInfos.meanHum }} % </p>
                <p><span class="glyphicon glyphicon-tint"></span> Taux d'humidité  minimum : {{ travelInfos.minHum }} % </p>
                <p><span class="glyphicon glyphicon-tint"></span> Taux d'humidité  maximum : {{ travelInfos.maxHum }} % </p>
            </div>

        </div>

        <div class="col-lg-12">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
                <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                      geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>

                <!--<ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
                    visible="c.visible" editable="false" draggable="false" clickable="c.clickable"  events="c.events"></ui-gmap-circle>-->
                    <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" options="'options'" events="'events'" click="'click'">
                    </ui-gmap-markers>
            </ui-gmap-google-map>
        </div>
    </div>
</div>

<footer style="text-align:center; padding-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="copy">
                    Copyright &copy; 2016 Projet Embarqué
                </div>
                <div class="copy">
                    Tous droits réservés.
                </div>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</footer>