<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Projet embarqué" src="...">
          </a>
        </div>
      </div>
</nav>

<div class="container-fluid">
    <div class="col-lg-6">
        <form style="padding-top:20px;">
            <div>
                <label>Température / Humidité</label>
                Température :

                <div range-slider orientation="horizontal" min="0" max="50" model-min="temp.min" model-max="temp.max" ng-model="temp.valeur"></div>

                Humidité :

                <div range-slider orientation="horizontal" min="0" max="100" model-min="humidite.min" model-max="humidite.max" ng-model="humidite.valeur"></div>



                <input type="text" class="form-control" id="temperature" placeholder="Température..."><br>
                <input type="text" class="form-control" id="humidite" placeholder="Humidité...">
            </div>
            <button type="submit" class="btn btn-primary">Afficher les évènements</button>
        </form>
        <form style="padding-top:20px;">
            <div class="form-group">
                <label>Gyroscope</label>
                <input type="text" class="form-control" id="gyrox" placeholder="Position x..."><br>
                <input type="text" class="form-control" id="gyroy" placeholder="Position y..."><br>
                <input type="text" class="form-control" id="gyroz" placeholder="Position z...">
            </div>
            <button type="submit" class="btn btn-danger">Afficher les évènements</button>
        </form>
        <form style="padding-top:20px;">
            <div class="form-group">
                <label>Accéléromètre</label>
                <input type="text" class="form-control" id="accelx" placeholder="Position x..."><br>
                <input type="text" class="form-control" id="accely" placeholder="Position y..."><br>
                <input type="text" class="form-control" id="accelz" placeholder="Position z...">
            </div>
            <button type="submit" class="btn btn-success">Afficher les évènements</button>
        </form>
    </div>
    <div class="col-lg-6">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
               <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                 </ui-gmap-marker>

                 <ui-gmap-marker coords="marker2.coords" options="marker2.options" events="marker2.events" idkey="marker2.id">
                 </ui-gmap-marker>

            </ui-gmap-google-map>

    </div>
</div>

<footer style="text-align:center; padding-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="copy">
                    Copyright &copy; 2016 Projet Embarqué
                </div>
                <div class="copy">
                    Tous droits réservés.
                </div>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</footer>