<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Projet embarqué" src="...">
          </a>
        </div>
      </div>
</nav>

<div class="container-fluid">
    <div class="col-lg-6">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a href="#/public/accueil">Température / Humidité</a></li>
            <li role="presentation" class="active"><a href="#/public/gyroaccel">Gyroscope / Accéléromètre</a></li>
        </ul>
        
        <form style="padding-top:20px;">
            <div class="form-group">
                <label>Trajet</label>

                <select class="form-control" name="travel" ng-model="selectedTravel" ng-change="changeTravel()">
                    <option value="0" selected>-- Choisir un trajet --</option>
                    <option value="{{travel.id}}" ng-repeat="travel in listeTravels">{{travel.id}} {{travel.from }} - {{ travel.to }}</option>
                </select><br><br>
                <div class="col-lg-12">
                    <label>Gyroscope</label>
                    <div >
                        <canvas id="chartGyro" ></canvas>
                    </div>

                    <div ng-show="isTravel">
                        <div class="col-lg-4">
                            <label>Seuil roll : </label><input class="form-control" type="text" ng-model="seuilroll"/>
                        </div>
                        <div class="col-lg-4">
                            <label>Seuil pitch : </label><input class="form-control" type="text" ng-model="seuilpitch"/>
                        </div>
                        <div class="col-lg-4">
                            <label>Seuil yaw : </label><input class="form-control" type="text" ng-model="seuilyaw"/>
                        </div>
                        <div class="col-lg-4">
                        <br>
                            <input class="btn btn-primary" type="button" value="Afficher sur la carte" ng-click="displayGyro()"/>
                        </div>
                    </div>
                </div>
                <br><br><br><br>
                
                <div class="col-lg-12" style="margin-top:50px;">
                    <label>Accéléromètre</label>
                    <div>
                        <canvas id="chartAccel" ></canvas>
                    </div>

                    <div ng-show="isTravel">
                        <div class="col-lg-4">
                            <label>Seuil X : </label><input class="form-control" type="text" ng-model="seuilx"/>
                        </div>
                        <div class="col-lg-4">
                            <label>Seuil Y : </label><input class="form-control" type="text" ng-model="seuily"/>
                        </div>
                        <div class="col-lg-4">
                            <label>Seuil Z : </label><input class="form-control" type="text" ng-model="seuilz"/>
                        </div>
                        <div class="col-lg-4">
                            <br>
                            <input class="btn btn-primary" type="button" value="Afficher sur la carte" ng-click="displayAccel()"/>
                        </div>
                    </div>
                </div>

                <br>
            </div>
        </form>
    </div>
    <div class="col-lg-6">

        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
            <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                  geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>

            <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
                visible="c.visible" geodesic="c.geodesic" editable="false" draggable="false" clickable="c.clickable" control="c.control"></ui-gmap-circle>

             <ui-gmap-markers models="markersGyroTab" coords="'self'" icon="'icon'">
                </ui-gmap-markers>

"
                <ui-gmap-markers models="markersAccelTab" coords="'self'" icon="'icon'">
                </ui-gmap-markers>


        </ui-gmap-google-map>

    </div>

</div>

<footer style="text-align:center; padding-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="copy">
                    Copyright &copy; 2016 Projet Embarqué
                </div>
                <div class="copy">
                    Tous droits réservés.
                </div>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</footer>