html, body { height: 100%; margin: 0; padding: 0; }
.angular-google-map-container { height: 700px; }

.labelClass{
	background-color: #fff;
    margin-top: -80px !important;
    margin-left: -100px !important;
    padding: 1%;
    text-align: center;
}
.table tr {
    cursor: pointer;
}