<!doctype html>
<html lang="en" ng-app="dataminingApp">
<head>
    <meta charset="utf-8" />
    <title>Datamining</title>

    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="public/css/style.css" />
    <link href="public/css/angular.rangeSlider.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>

    <script src="public/lib/angular/angular.min.js"></script>
    <script src="public/lib/angular/angular-route.min.js"></script>

    <script src="node_modules/lodash/lodash.min.js"></script>
    <script src="node_modules/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script src="node_modules/angular-google-maps/dist/angular-google-maps.min.js"></script>


   <script src="public/lib/angular.rangeSlider.js"></script>

    <script src="public/js/app.js"></script>
    <script src="public/js/accueilCtrl.js"></script>
</head>

<body style="padding-top: 80px;">
    <div ng-view></div>
</body>
</html>
